@model McIntashLaptops.Models.UserModel

<div>
    <h4>We have a problem with your credentials</h4>
    <hr />
    We either cannot find @Model.Username in our system or your password is incorrect.
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to Login</a>
</div>
