@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to McIntash Laptops</h1>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <img src="~/img/McPro.jpg" style="width:400px;height:auto;"/>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="bg-light rounded text-black w-auto">
                <h3>About Us</h3>
                <p>We are a laptops manufacturer that uses state of the art engineering to provide high quality products.<br />
                    Our advanced engineering empowers us to deliver new technologies at a low cost.<br />
                    We make products that people will use and engineer our products to have a powerful and simplistic design<br />  
                </p>
            </div>
        </div>
    </div>
</div>
