@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Do not share your account credentials with anybody.
    <br />
    Each account should belong to only one user.
    <br />
    Each user should have only one account.
</p>
