@model McIntashLaptops.Models.CheckoutModel
<!-- Modal -->
<div class="modal fade" id="checkoutForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Shipping Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="checkout">
            <div class="modal-body">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingStreet" class="control-label"></label>
                <input asp-for="ShippingStreet" class="form-control" />
                <span asp-validation-for="ShippingStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCity" class="control-label"></label>
                <input asp-for="ShippingCity" class="form-control" />
                <span asp-validation-for="ShippingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingState" class="control-label"></label>
                <input asp-for="ShippingState" class="form-control" />
                <span asp-validation-for="ShippingState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingZip" class="control-label"></label>
                <input asp-for="ShippingZip" class="form-control" />
                <span asp-validation-for="ShippingZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCountry" class="control-label"></label>
                <input asp-for="ShippingCountry" class="form-control" />
                <span asp-validation-for="ShippingCountry" class="text-danger"></span>
            </div>      

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <div class="form-group">
                    <input type="submit" value="Pay" class="btn btn-success" />
                </div>
            </div>
              </form>
        </div>
    </div>
</div>
