@model IEnumerable<LaptopModel>

<div class="container">
    <div class="row">
        <h1>Shop for Laptops</h1>
    </div>
    <div class="row pt-3">
        <h5 class="text-success" id="cart-message">

        </h5>
    </div>
    <div class="row pt-3">
        <a href="/Shop/Cart" class="btn btn-success w-50">Shopping Cart</a>
    </div>
    <div class="row pt-3">
        <partial name="_searchForm" />
    </div>
    <div class="row pt-3">
        <partial name="_Display" model=Model />
    </div>
</div>