html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

@media only screen and (max-width: 900px) {
    .info td:nth-child(2),
    .info td:nth-child(5),
    .info td:nth-child(6),
    .info td:nth-child(7),
    .info td:nth-child(8),
    .info td:nth-child(9),
    .info td:nth-child(10),
    .info td:nth-child(11),
    .info th:nth-child(2),
    .info th:nth-child(5),
    .info th:nth-child(6),
    .info th:nth-child(7),
    .info th:nth-child(8),
    .info th:nth-child(9),
    .info th:nth-child(10),
    .info th:nth-child(11) {
        display: none;
    }
}