<!-- Modal -->
<div class="modal fade" id="editForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Laptop Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Id" class="control-label">Laptop Id:</label>
                    <input id="modal-input-id" for="Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Photo" class="control-label">Photo:</label>
                    <input id="modal-input-photo" for="Photo" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Name" class="control-label">Name:</label>
                    <input id="modal-input-name" for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Description:</label>
                    <textarea id="modal-input-description" for="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="Price" class="control-label">Price:</label>
                    <input id="modal-input-price" for="Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Processor" class="control-label">Processor:</label>
                    <input id="modal-input-processor" for="Processor" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Ram" class="control-label">Ram:</label>
                    <input id="modal-input-ram" for="Ram" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="DriveSize" class="control-label">Drive Size:</label>
                    <input id="modal-input-drivesize" for="DriveSize" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="GraphicsCard" class="control-label">Graphics Card:</label>
                    <input id="modal-input-graphicscard" for="GraphicsCard" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Weight" class="control-label">Weight:</label>
                    <input id="modal-input-weight" for="Weight" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="OperatingSystem" class="control-label">Operating System:</label>
                    <input id="modal-input-operatingsystem" for="OperatingSystem" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-button">Save changes</button>
            </div>
        </div>
    </div>
</div>