
<div class="container">
    <div class="row">
        <div class="col col-md-3 col-sm-12">
            <form>
                <button id="ToggleButton" class="btn btn-primary" type="submit">
                    Toggle List/Display
                </button>
            </form>
        </div>
        <div class="col col-md-3 col-sm-12">
            <button type="button" class="btn btn-light create-laptop-button w-50" style="width:100px" data-bs-toggle="modal" data-bs-target="#createForm">
                Create
            </button>
        </div>
    </div>
    <div class="row pt-3">
        <partial name="_searchForm" />
    </div>
    <div class="row pt-3">
        <div id="mydiv" data-present="present"></div>
    </div>
</div>

<partial name="_createModal" />
