@model McIntashLaptops.Models.LaptopModel

<div id="details">
    <partial name="_details" />
</div>

<div>
    <button type="button" class="btn btn-warning edit-laptop-button w-25" value="@Model.Id" data-bs-toggle="modal" data-bs-target="#editForm">
        Edit
    </button>
    <a asp-action="Index" class="btn btn-primary w-25">Back to Laptops</a>
</div>

<partial name="_editModal" />